<div class="product-template product-template-default">
  <div class="container">
    {% if collection %}
      <div class="next_prev-groups">
        {% render 'breadcrumb' %}
        {% render 'next-prev-product' %}
      </div>

    {% else %}
      {% render 'breadcrumb' %}
    {% endif %}

    <div class="halo-product-content">
      <div class="row pro-page">
        {% section 'sidebar-section' %}
        {% section 'product-template-default-highchair-cushions' %}
        {% section 'product-recommendations' %}
        {% section 'instafeed-460-pdp' %}
        {% section 'reasons-to-buy-cushions' %}
        {% section 'testimonials-slider-cushions-1' %}
      </div>

      {% section 'recently-viewed-products' %}
    </div>
  </div>
</div>
