<div class="product-template product-template-default">
  <div class="container">
    {% if collection %}
    <div class="next_prev-groups">
      {% render 'breadcrumb' %}
      {% render 'next-prev-product' %}
    </div>

    {% else %}
    {% render 'breadcrumb' %}
    {% endif %}

    <div class="halo-product-content">
      <div class="row pro-page">
        {% section 'sidebar-section' %}
        {% section 'product-default-all-you-tensil' %}
        {% section 'product-recommendations' %}
        {% section 'instafeed-460-pdp' %}
        {% section 'testimonials-slider-all-you-tensil-1' %}
        {% section 'all-you-tensil-reasons-to-buy' %}
      </div>

      {% section 'recently-viewed-products' %}
    </div>
  </div>
</div>