{% liquid
  assign s = section.settings
  assign image = s.featured_image
  assign heading = s.heading
  assign blocks = section.blocks
%}
<section class="reasons-to-buy-section">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-6">
        {% if image != blank %}
          <div class="image-wrapper pr-large-7">
            <div class="image-ratio image-ratio--square">
              {{ image | img_url: 'master' | img_tag }}
            </div>
          </div>
        {% endif %}
      </div>
      <div class="col-lg-6">
        <div class="content-box text-center h-100 flex-center">
          <div class="inner">
            {% if heading != blank %}
              <h2>{{ heading }}</h2>
            {% endif %}
            <div class="reason-blocks">
              {% for block in blocks %}
                {% liquid
                  assign bs = block.settings
                  assign title = bs.title
                  assign content = bs.content
                %}
                <div class="reason-block">
                  {% if title != blank %}
                    <h3 class="text-bronze-2 font-karla">{{ title }}</h3>
                  {% endif %}
                  {% if content != blank %}
                    {{ content }}
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Reasons to buy",
  "class": "reasons-to-buy",
  "settings": [
    {
      "type": "image_picker",
      "id": "featured_image",
      "label": "Featured Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Heading goes here"
    }
  ],
  "blocks": [
    {
      "name": "Reason",
      "type": "reason",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "HAPPIER BABY"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "Dangling feet can lead to fussing, shorter meal times, a lack of interst in eating."
        }
      ]
    }
  ],
  "max_blocks": 3
}
{% endschema %}
