<div class="faqs-page faqs-page-outer">
    <div class="container">
        {% comment %} {% render 'breadcrumb' %} {% endcomment %}

        <div class="faqs-page-header text-center">
            <h2 class="h1 text-bronze-2 text-lowercase">
                {% render 'multilang' with page.title %}
            </h2>
        </div>

        {% section 'faq-page' %}
    </div>
</div>